#search-result {
    width: 50%;
    margin: auto;
}
#search-result img {
    max-width: 100%;
    height: auto;
}

.product {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.product button {
    width: 100%;
    margin-top: auto;
}

.product img {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto;
    max-width: 250px;
    max-height: 250px;
}

.product-container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    width: 75%;
}

#no_results {
    width: 50%;
    margin: 50 auto;
}

@media screen and (max-width: 768px) {
    .product {
        margin: 20px auto;
    }
    #no_results {
        width: 100%;
    }
    #no_results img {
        display: none;
    }
    .product-container {
        width: 100%;
    }
}