.form-container {
    margin: 50px auto;
    width: 40%;
    padding: 20px;
}

.logo-container {
    margin: 0 auto;
    padding: 25px;
    width: 100%;
}

.logo-container img {
    width: 25%;
}

.options-container {
    margin: 50px auto;
    width: 75%;
}

.product {
    margin: 0 auto;
}


@media screen and (max-width: 768px) {
    .form-container {
        width: 100%;
        margin: 0;
    }
    .logo-container img {
        width: 100%;
    }
    .options-container {
        width: 100%;
    }
    .product {
        margin: 20px auto;
    }
}