.form-container {
    margin: 50px auto;
    width: 40%;
    padding: 20px;
}

.logo-container {
    margin: 0 auto;
    padding: 25px;
    width: 100%;
}

.logo-container img {
    width: 25%;
}

.options-container {
    margin: 50px auto;
    width: 75%;
}

.product {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.product button {
    width: 100%;
    margin-top: auto;
}

.product img {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto;
    max-width: 250px;
    max-height: 250px;
}

.product-container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    width: 75%;
}

.search-container {
    overflow: hidden; /* Nasconde l'overflow per mantenere il border-radius */
    width: 75%;
    margin: 0 auto;
}
  
.search-container input[type="text"] {
    border: none; /* Rimuove il bordo dell'input */
    line-height: 1.5; /* Altezza della riga per l'input */
    padding: 5px 10px; /* Padding interno per l'input */
    width: 75%;
}

/* Stilizzazione per gli elementi al focus */
.search-container input[type="text"]:focus {
    outline: none; /* Rimuove il contorno al focus */
}

#buyPopup {
    display: none; 
    margin: 0 auto; 
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    max-width: 90%; /* Imposta la larghezza massima al 90% della larghezza dello schermo */
    width: auto; /* Imposta la larghezza automatica per far si che il contenuto si ridimensioni appropriatamente */
    height: auto; /* Fa lo stesso per l'altezza */
    max-height: 90%; /* Imposta l'altezza massima */
    z-index: 2; 
    overflow: auto; /* Aggiungi lo scroll se necessario */
}

@media screen and (max-width: 768px) {
    .form-container {
        width: 100%;
        margin: 0;
    }
    .logo-container img {
        width: 100%;
    }
    .options-container {
        width: 100%;
    }
    .product {
        margin: 20px auto;
    }
    #buyPopup {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        top: 0;
        left: 0;
        transform: none;
    }
}